---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/discounts/dsc_01h7dv1243xervzbkfxkg56cnn
    body:
      encoding: UTF-8
      string: '{"code":"WELCOME","enabled_for_checkout":true}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"dsc_01h7dv1243xervzbkfxkg56cnn","status":"active","description":"$10
        off","enabled_for_checkout":true,"code":"WELCOME","type":"flat","amount":"1000","currency_code":"USD","recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"times_used":0,"created_at":"2023-08-09T19:05:26.915Z","updated_at":"2023-08-09T19:05:56.413Z"},"meta":{"request_id":"d0aace20-552b-4e15-b6cc-3e458a4a7fdb"}}'
  recorded_at: Wed, 09 Aug 2023 19:05:56 GMT
recorded_with: VCR 6.2.0
