---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/discount-groups/dsg_01kdnzzfakgpvj1ky1rtb43cs5
    body:
      encoding: UTF-8
      string: '{"name":"Winter Sale"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, PATCH, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","status":"active","name":"Winter
        Sale","import_meta":null,"created_at":"2025-12-29T21:24:40.915Z","updated_at":"2026-01-04T16:53:14.710424Z"},"meta":{"request_id":"c39fa570-b2f2-4518-987d-d010c9fbd732"}}'
  recorded_at: Sun, 04 Jan 2026 16:53:14 GMT
recorded_with: VCR 6.3.1
