---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/discount-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, POST, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","status":"active","name":"Winter
        Sale","import_meta":null,"created_at":"2025-12-29T21:24:40.915Z","updated_at":"2026-01-04T16:53:14.710424Z"},{"id":"dsg_01ke4ybegrwc648dhzanfzwp2x","status":"active","name":"Black
        Friday Deals","import_meta":null,"created_at":"2026-01-04T16:44:52.632Z","updated_at":"2026-01-04T16:44:52.632Z"}],"meta":{"request_id":"d3c52a03-bf15-4ef9-af21-7463e1c430fd","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/discount-groups?after=dsg_01ke4ybegrwc648dhzanfzwp2x","has_more":false,"estimated_total":2}}}'
  recorded_at: Sun, 04 Jan 2026 16:53:14 GMT
recorded_with: VCR 6.3.1
