---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/prices
    body:
      encoding: UTF-8
      string: '{"product_id":"pro_01h7dsxd2sg6aky4e70p96rb1y","description":"Annual
        (per seat)","unit_price":{"amount":"1000","currency_code":"GBP"}}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pri_01h7dt8qgnh9jya9gcqsxd0r7p","product_id":"pro_01h7dsxd2sg6aky4e70p96rb1y","description":"Annual
        (per seat)","billing_cycle":null,"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"GBP"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100},"product":{"id":"pro_01h7dsxd2sg6aky4e70p96rb1y","name":"ChatApp
        Enterprise (old)","tax_category":"standard","description":null,"image_url":null,"custom_data":null,"status":"active","created_at":"2023-08-09T18:45:58.489Z"}},"meta":{"request_id":"6414fc7e-5efd-40d2-a8c5-bfde1df598b3"}}'
  recorded_at: Wed, 09 Aug 2023 18:52:09 GMT
recorded_with: VCR 6.2.0
