---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/reports
    body:
      encoding: UTF-8
      string: '{"type":"transactions","filters":[{"name":"updated_at","operator":"lt","value":"2024-04-30"},{"name":"updated_at","operator":"gte","value":"2024-04-01"}]}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"rep_01hw8aftshkm8myc5nk6w2edmf","type":"transactions","rows":null,"status":"pending","filters":[{"name":"updated_at","value":"2024-04-30","operator":"lt"},{"name":"updated_at","value":"2024-04-01","operator":"gte"}],"expires_at":null,"created_at":"2024-04-24T15:09:51.281Z","updated_at":"2024-04-24T15:09:51.281Z"},"meta":{"request_id":"096ac151-4714-483a-99de-3169c9b8723c"}}'
  recorded_at: Wed, 24 Apr 2024 15:09:52 GMT
recorded_with: VCR 6.2.0
