---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/notification-settings
    body:
      encoding: UTF-8
      string: '{"description":"Test Webhook","destination":"http://localhost:3000/webhook","type":"url","subscribed_events":["transaction.billed"]}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      correlation-id:
      - b85bda1a-0d70-424a-a0bc-f0b40a92b953
      x-correlation-id:
      - b85bda1a-0d70-424a-a0bc-f0b40a92b953
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ntfset_01h7e0ebp7dz0ygz22bdkb5ckb","description":"Test
        Webhook","type":"url","destination":"http://localhost:3000/webhook","active":true,"api_version":1,"include_sensitive_fields":false,"subscribed_events":[{"name":"transaction.billed","description":"Occurs
        when a transaction is billed. Its status field changes to billed and billed_at
        is populated.","group":"Transaction","available_versions":[1]}],"endpoint_secret_key":"pdl_ntfset_01h7e0ebp7dz0ygz22bdkb5ckb_DKzEps5c1KskQVLjpzbffMnWy6xesXEl"},"meta":{"request_id":"b85bda1a-0d70-424a-a0bc-f0b40a92b953"}}'
  recorded_at: Wed, 09 Aug 2023 20:40:05 GMT
recorded_with: VCR 6.2.0
