---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/customers/ctm_01hd12bdgxkfjx1cj8ynmjyark/credit-balances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"customer_id":"ctm_01hd12bdgxkfjx1cj8ynmjyark","currency_code":"USD","balance":{"available":"0","reserved":"0","used":"2499"}}],"meta":{"request_id":"33321b33-ff85-4ee3-ad96-030e8098cfa1"}}'
  recorded_at: Wed, 18 Oct 2023 13:04:09 GMT
recorded_with: VCR 6.2.0
