---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/reports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"rep_01hw8a1mg788ffxetyzs77vk3n","type":"transactions","rows":9,"status":"ready","filters":[{"name":"updated_at","value":"2024-04-30","operator":"lt"},{"name":"updated_at","value":"2024-04-01","operator":"gte"}],"expires_at":"2024-05-08T15:02:20.027106Z","created_at":"2024-04-24T15:02:06.087Z","updated_at":"2024-04-24T15:02:20.027111Z"}],"meta":{"request_id":"c4267046-98dc-4e9a-b328-722948354cdd","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/reports?after=rep_01hw8a1mg788ffxetyzs77vk3n","has_more":false,"estimated_total":1}}}'
  recorded_at: Wed, 24 Apr 2024 15:07:43 GMT
recorded_with: VCR 6.2.0
