---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/products/pro_01h7dsxd2sg6aky4e70p96rb1y
    body:
      encoding: UTF-8
      string: '{"name":"ChatApp Enterprise (old)"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"pro_01h7dsxd2sg6aky4e70p96rb1y","name":"ChatApp Enterprise
        (old)","tax_category":"standard","description":null,"image_url":null,"custom_data":null,"status":"active","created_at":"2023-08-09T18:45:58.489Z"},"meta":{"request_id":"b0a8276a-2e45-4507-8e12-02968c4dd258"}}'
  recorded_at: Wed, 09 Aug 2023 18:46:31 GMT
recorded_with: VCR 6.2.0
