---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/addresses/add_01h7dtvh64g9c20asb65dc411r
    body:
      encoding: UTF-8
      string: '{"description":"Downing Street"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"add_01h7dtvh64g9c20asb65dc411r","status":"active","description":"Downing
        Street","first_line":"10 Downing Street","second_line":null,"city":null,"postal_code":"SW1A
        2AA","region":null,"country_code":"GB","created_at":"2023-08-09T19:02:25.732Z","updated_at":"2023-08-09T19:03:22.504023Z"},"meta":{"request_id":"ea9ddb20-3ce1-4821-bf18-7a4020159087"}}'
  recorded_at: Wed, 09 Aug 2023 19:03:22 GMT
recorded_with: VCR 6.2.0
