---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/businesses/biz_01h7dz69ksn40x5zrvekgh1xrn
    body:
      encoding: UTF-8
      string: '{"company_number":"123123"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"biz_01h7dz69ksn40x5zrvekgh1xrn","status":"active","name":"Business1","company_number":"123123","tax_identifier":null,"contacts":[],"created_at":"2023-08-09T20:18:12.729Z","updated_at":"2023-08-09T20:19:28.950908Z"},"meta":{"request_id":"0dd0d9db-daf4-46f7-892f-ec0ef8fcab05"}}'
  recorded_at: Wed, 09 Aug 2023 20:19:29 GMT
recorded_with: VCR 6.2.0
