---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/prices/pri_01h7dt1t5fhgpx7c4ze66vg3wt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","product_id":"pro_01h7dsrdafzk113p2fbj07wpfd","description":"Monthly","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"USD"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100}},"meta":{"request_id":"2728e359-9044-4c68-bfad-261a14bc4913"}}'
  recorded_at: Wed, 09 Aug 2023 18:51:06 GMT
recorded_with: VCR 6.2.0
