---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/discounts
    body:
      encoding: UTF-8
      string: '{"description":"$10 off","type":"flat","amount":"1000","currency_code":"USD"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"dsc_01h7dv1243xervzbkfxkg56cnn","status":"active","description":"$10
        off","enabled_for_checkout":false,"code":null,"type":"flat","amount":"1000","currency_code":"USD","recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"times_used":0,"created_at":"2023-08-09T19:05:26.915Z","updated_at":"2023-08-09T19:05:26.915Z"},"meta":{"request_id":"859db29a-0367-4510-8014-3cd797a657ea"}}'
  recorded_at: Wed, 09 Aug 2023 19:05:26 GMT
recorded_with: VCR 6.2.0
