---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/discount-groups/dsg_01kdnzzfakgpvj1ky1rtb43cs5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, PATCH, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","status":"active","name":"Test
        group","import_meta":null,"created_at":"2025-12-29T21:24:40.915Z","updated_at":"2025-12-29T21:24:40.915Z"},"meta":{"request_id":"73789072-79c3-44cb-9375-13ec7a21e9e9"}}'
  recorded_at: Sun, 04 Jan 2026 16:53:14 GMT
recorded_with: VCR 6.3.1
