---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dth5z8q7df4r73r4jek70g
    body:
      encoding: UTF-8
      string: '{"email":"gob@bluthcompany.com"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ctm_01h7dth5z8q7df4r73r4jek70g","status":"active","name":"Michael
        Bluth","email":"gob@bluthcompany.com","marketing_consent":false,"locale":"en","created_at":"2023-08-09T18:56:46.568Z","updated_at":"2023-08-09T18:57:15.281134Z"},"meta":{"request_id":"bd954a55-eefb-4316-9d34-12fd7f4c4ce8"}}'
  recorded_at: Wed, 09 Aug 2023 18:57:15 GMT
recorded_with: VCR 6.2.0
