---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/discounts?discount_group_id=dsg_01kdnzzfakgpvj1ky1rtb43cs5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, POST, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dsc_01kdp032j5131v4q3gv633g4hz","status":"active","description":"10%
        Off","enabled_for_checkout":false,"code":"10OFF","type":"percentage","amount":"10","currency_code":null,"recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"mode":"standard","times_used":0,"custom_data":null,"import_meta":null,"discount_group_id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","created_at":"2025-12-29T21:26:38.917Z","updated_at":"2025-12-29T21:27:28.665Z"},{"id":"dsc_01kdp0dmv1d2rzdwx91zpc322j","status":"active","description":"20%
        Off","enabled_for_checkout":false,"code":"20OFF","type":"percentage","amount":"20","currency_code":null,"recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"mode":"standard","times_used":0,"custom_data":null,"import_meta":null,"discount_group_id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","created_at":"2025-12-29T21:32:25.313Z","updated_at":"2025-12-29T21:32:25.313Z"},{"id":"dsc_01ke4zpyn3pm6n9r7c437pfvhh","status":"active","description":"$10
        off","enabled_for_checkout":false,"code":null,"type":"flat","amount":"1000","currency_code":"USD","recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"mode":"standard","times_used":0,"custom_data":null,"import_meta":null,"discount_group_id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","created_at":"2026-01-04T17:08:38.179Z","updated_at":"2026-01-04T17:08:38.179Z"}],"meta":{"request_id":"0430e598-2f22-4b6a-9145-7033ca539ccc","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/discounts?after=dsc_01ke4zpyn3pm6n9r7c437pfvhh\u0026discount_group_id=dsg_01kdnzzfakgpvj1ky1rtb43cs5","has_more":false,"estimated_total":3}}}'
  recorded_at: Sun, 04 Jan 2026 17:24:03 GMT
recorded_with: VCR 6.3.1
