---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/discount-groups
    body:
      encoding: UTF-8
      string: '{"name":"Black Friday Promotion"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":{"id":"dsg_01ke4z5m4b304rwpc5m7dqyv9z","status":"active","name":"Black
        Friday Promotion","import_meta":null,"created_at":"2026-01-04T16:59:10.347Z","updated_at":"2026-01-04T16:59:10.347Z"},"meta":{"request_id":"23397104-fd79-445f-a3c3-953295aaacfc"}}'
  recorded_at: Sun, 04 Jan 2026 16:59:10 GMT
recorded_with: VCR 6.3.1
