---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/notification-settings/ntfset_01h7e0amn9q4wzn3k3syjszhtc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      correlation-id:
      - 5bfd63a4-ef64-4fb6-a65f-8cac98ad10e5
      x-correlation-id:
      - 5bfd63a4-ef64-4fb6-a65f-8cac98ad10e5
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ntfset_01h7e0amn9q4wzn3k3syjszhtc","description":"Email","type":"email","destination":"dean@voupe.dev","active":true,"api_version":1,"include_sensitive_fields":false,"subscribed_events":[{"name":"subscription.activated","description":"Occurs
        when a subscription becomes active. Its status field changes to active. This
        means any trial period has elapsed and Paddle has successfully billed the
        customer.","group":"Subscription","available_versions":[1]}],"endpoint_secret_key":"pdl_ntfset_01h7e0amn9q4wzn3k3syjszhtc_+BIjCrfB0mLVnY7KNJbsrVA/DeyqiEXb"},"meta":{"request_id":"5bfd63a4-ef64-4fb6-a65f-8cac98ad10e5"}}'
  recorded_at: Wed, 09 Aug 2023 20:38:51 GMT
recorded_with: VCR 6.2.0
