---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/transactions/txn_01h7e2wz65er1fwbkqbzpng9th?include=customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"txn_01h7e2wz65er1fwbkqbzpng9th","status":"completed","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","address_id":"add_01h7e0rc3zd2b9dmb85m509jt2","business_id":"biz_01h7dz69ksn40x5zrvekgh1xrn","custom_data":null,"origin":"subscription_update","collection_mode":"automatic","subscription_id":"sub_01h7e0rzxvwdy5qy6g08h4y3tz","invoice_id":"inv_01h7e2x2vcg66pt3b3at1md262","invoice_number":"3742-10004","billing_details":null,"billing_period":{"starts_at":"2023-08-09T20:45:52.444756Z","ends_at":"2023-09-09T20:45:52.444756Z"},"currency_code":"USD","discount_id":null,"created_at":"2023-08-09T21:23:01.526295Z","updated_at":"2023-08-09T21:23:07.291215Z","billed_at":"2023-08-09T21:23:01.445147Z","items":[{"price":{"id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","description":"Monthly","product_id":"pro_01h7dsrdafzk113p2fbj07wpfd","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":5,"proration":{"rate":"0.99915","billing_period":{"starts_at":"2023-08-09T21:23:01.268416Z","ends_at":"2023-09-09T20:45:52.444756Z"}}}],"details":{"tax_rates_used":[{"tax_rate":"0.2","totals":{"subtotal":"4163","discount":"0","tax":"833","total":"4996"}}],"totals":{"subtotal":"4163","tax":"833","discount":"0","total":"4996","grand_total":"3997","fee":"300","credit":"999","balance":"0","earnings":"3863","currency_code":"USD"},"adjusted_totals":{"subtotal":"4163","tax":"833","total":"4996","grand_total":"3997","fee":"300","earnings":"3863","currency_code":"USD"},"payout_totals":{"subtotal":"4163","tax":"833","discount":"0","total":"4996","credit":"999","balance":"0","grand_total":"3997","fee":"300","earnings":"3863","currency_code":"USD"},"adjusted_payout_totals":{"subtotal":"4163","tax":"833","total":"4996","fee":"300","chargeback_fee":{"amount":"0","original":null},"earnings":"3863","currency_code":"USD"},"line_items":[{"id":"txnitm_01h7e2wz7837s2sges6az4p0s8","price_id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","quantity":5,"totals":{"subtotal":"4163","tax":"833","discount":"0","total":"4996"},"product":{"id":"pro_01h7dsrdafzk113p2fbj07wpfd","name":"Test
        Product 1","description":"This is a test product","tax_category":"standard","image_url":"","status":"active"},"tax_rate":"0.2","unit_totals":{"subtotal":"833","tax":"166","discount":"0","total":"999"},"proration":{"rate":"0.99915","billing_period":{"starts_at":"2023-08-09T21:23:01.268416Z","ends_at":"2023-09-09T20:45:52.444756Z"}}}]},"payments":[{"payment_attempt_id":"aa883a6d-ce3c-4693-b565-dcedb58f7281","stored_payment_method_id":"76f111fe-9778-473a-a0a2-7d1bf307cf79","amount":"3997","status":"captured","error_code":null,"method_details":{"type":"card","card":{"type":"visa","last4":"4242","expiry_month":1,"expiry_year":2030}},"created_at":"2023-08-09T21:23:01.686464Z","captured_at":"2023-08-09T21:23:04.081077Z"}],"checkout":{"url":"https://localhost:3000?_ptxn=txn_01h7e2wz65er1fwbkqbzpng9th"},"customer":{"id":"ctm_01h7dtf1yg8jge7980baqdkjk8","name":"","email":"dean@mycompany.com","locale":"en","marketing_consent":false,"status":"active","suitable_for":["automatic"],"is_sanctioned":false,"tax_exemptions":[]}},"meta":{"request_id":"cb96df8c-fbaa-44a1-a0d9-cdc890cb9eb5"}}'
  recorded_at: Wed, 30 Aug 2023 10:07:13 GMT
recorded_with: VCR 6.2.0
