---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/products/pro_01h7dsrdafzk113p2fbj07wpfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"pro_01h7dsrdafzk113p2fbj07wpfd","name":"Test Product
        1","tax_category":"standard","description":"This is a test product","image_url":"","custom_data":null,"status":"active","created_at":"2023-08-09T18:43:14.895Z"},"meta":{"request_id":"eb9b98ae-81c3-4381-9fd2-ab28759b4ff8"}}'
  recorded_at: Wed, 09 Aug 2023 18:44:21 GMT
recorded_with: VCR 6.2.0
