---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/addresses/add_01h7dtvh64g9c20asb65dc411r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"add_01h7dtvh64g9c20asb65dc411r","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","status":"active","description":"Work","first_line":"124
        City Road","second_line":"","city":"London","postal_code":"EC1V 2NX","region":"","country_code":"GB","created_at":"2023-08-09T18:59:42.826Z","updated_at":"2023-08-09T18:59:42.826Z"},"meta":{"request_id":"d476060c-efaa-49c9-9221-bad56d5b466a"}}'
  recorded_at: Wed, 09 Aug 2023 19:02:25 GMT
recorded_with: VCR 6.2.0
