---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/customers
    body:
      encoding: UTF-8
      string: '{"email":"michael@mycompany.com","name":"Michael Bluth"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ctm_01h9xbs8fh0a92af83n6e4ah0b","status":"active","name":"Michael
        Bluth","email":"michael@mycompany.com","marketing_consent":false,"locale":"en","created_at":"2023-09-09T16:18:17.201Z","updated_at":"2023-09-09T16:18:17.201Z"},"meta":{"request_id":"ea2447fd-30b3-4dfd-bf3b-604421c2071b"}}'
  recorded_at: Sat, 09 Sep 2023 16:18:17 GMT
recorded_with: VCR 6.2.0
