---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"add_01h7dtpj3a5ygxw13fzhw8h445","status":"active","description":"Work","first_line":"124
        City Road","second_line":"","city":"London","postal_code":"EC1V 2NX","region":"","country_code":"GB","created_at":"2023-08-09T18:59:42.826Z","updated_at":"2023-08-09T18:59:42.826Z"}],"meta":{"request_id":"77983ede-325e-4b00-bde1-3ea542902e91","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/addresses?after=add_01h7dtpj3a5ygxw13fzhw8h445","has_more":false,"estimated_total":2}}}'
  recorded_at: Wed, 09 Aug 2023 19:02:30 GMT
recorded_with: VCR 6.2.0
