---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/notifications/ntf_01h7e0s0xktjj1cjd955aah5v5/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      correlation-id:
      - e18f876c-0b9b-4474-99fd-ef488bdfe108
      x-correlation-id:
      - e18f876c-0b9b-4474-99fd-ef488bdfe108
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"ntflog_01h7e0s16fncg0f8xxjqpq59ge","response_code":200,"response_content_type":null,"response_body":"","attempted_at":"2023-08-09T20:45:55.279441Z"}],"meta":{"pagination":{"per_page":50,"estimated_total":1,"next":"http://sandbox-api.paddle.com/notifications/ntf_01h7e0s0xktjj1cjd955aah5v5/logs?after=ntflog_01h7e0s16fncg0f8xxjqpq59ge","has_more":false},"request_id":"e18f876c-0b9b-4474-99fd-ef488bdfe108"}}'
  recorded_at: Wed, 09 Aug 2023 21:08:39 GMT
recorded_with: VCR 6.2.0
