---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/transactions/txn_01h7e2wz65er1fwbkqbzpng9th/invoice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"url":"https://paddle-sandbox-invoice-service-pdfs.s3.amazonaws.com/invoices/13851/8b7d381c-c0fd-4831-bb05-f9de3ed2f4b1/invoice_3742-10004_Voupe-Dev.pdf"},"meta":{"request_id":"1453a903-6e3d-4c83-9384-e4340b8b077e"}}'
  recorded_at: Wed, 09 Aug 2023 21:50:43 GMT
recorded_with: VCR 6.2.0
