---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/prices/pri_01h7dt8qgnh9jya9gcqsxd0r7p
    body:
      encoding: UTF-8
      string: '{"description":"Annual (per seat) with 30 day trial"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"pri_01h7dt8qgnh9jya9gcqsxd0r7p","product_id":"pro_01h7dsxd2sg6aky4e70p96rb1y","description":"Annual
        (per seat) with 30 day trial","billing_cycle":null,"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"GBP"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100}},"meta":{"request_id":"aaaa4927-75a1-4bba-8894-c7556c501222"}}'
  recorded_at: Wed, 09 Aug 2023 18:53:25 GMT
recorded_with: VCR 6.2.0
