---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/customers
    body:
      encoding: UTF-8
      string: '{"name":"Michael Bluth","email":"michael@mycompany.com"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ctm_01h7dth5z8q7df4r73r4jek70g","status":"active","name":"Michael
        Bluth","email":"michael@mycompany.com","marketing_consent":false,"locale":"en","created_at":"2023-08-09T18:56:46.568Z","updated_at":"2023-08-09T18:56:46.568Z"},"meta":{"request_id":"d9af942f-7e28-4902-bf84-5cefb64ddd71"}}'
  recorded_at: Wed, 09 Aug 2023 18:56:46 GMT
recorded_with: VCR 6.2.0
