---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      correlation-id:
      - 5e8debf8-3974-472d-812a-ed493ecb2867
      x-correlation-id:
      - 5e8debf8-3974-472d-812a-ed493ecb2867
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"event_id":"evt_01h7dz8mc7jbkdy0aywekp4dxf","event_type":"business.updated","occurred_at":"2023-08-09T20:19:29.287345Z","data":{"id":"biz_01h7dz69ksn40x5zrvekgh1xrn","name":"Business1","company_number":"123123","tax_identifier":null,"status":"active","contacts":[],"created_at":"2023-08-09T20:18:12.729Z","updated_at":"2023-08-09T20:19:28.950908Z"}},{"event_id":"evt_01h7dz69yqrnw9xj2a0x73z76n","event_type":"business.created","occurred_at":"2023-08-09T20:18:13.079826Z","data":{"id":"biz_01h7dz69ksn40x5zrvekgh1xrn","name":"Business1","company_number":null,"tax_identifier":null,"status":"active","contacts":[],"created_at":"2023-08-09T20:18:12.729Z","updated_at":"2023-08-09T20:18:12.729Z"}},{"event_id":"evt_01h7dypjvh476d4qb8y899ge7e","event_type":"subscription.updated","occurred_at":"2023-08-09T20:09:37.905301Z","data":{"id":"sub_01h7dvgvc6we84prca8gdhhr9c","status":"active","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","address_id":"add_01h7dvg82n582xfftvhrpwty88","business_id":null,"currency_code":"USD","created_at":"2023-08-09T19:14:04.294411Z","updated_at":"2023-08-09T20:09:36.872029Z","started_at":"2023-08-09T19:14:03.236391Z","first_billed_at":"2023-08-09T19:14:03.236391Z","next_billed_at":"2023-09-09T19:14:03.236391Z","paused_at":null,"canceled_at":null,"collection_mode":"automatic","billing_details":{"payment_terms":null,"enable_checkout":null,"purchase_order_number":"PO-1234","additional_information":null},"current_billing_period":{"ends_at":"2023-09-09T19:14:03.236391Z","starts_at":"2023-08-09T19:14:03.236391Z"},"billing_cycle":{"interval":"month","frequency":1},"scheduled_change":null,"items":[{"price":{"id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","tax_mode":"account_setting","product_id":"pro_01h7dsrdafzk113p2fbj07wpfd","unit_price":{"amount":"1000","currency_code":"USD"},"description":"Monthly","trial_period":null,"billing_cycle":{"interval":"month","frequency":1}},"status":"active","quantity":1,"recurring":true,"created_at":"2023-08-09T19:14:04.294413Z","updated_at":"2023-08-09T20:09:36.873307Z","next_billed_at":"2023-09-09T19:14:03.236391Z","previously_billed_at":"2023-08-09T19:14:03.236391Z"}],"custom_data":null}},{"event_id":"evt_01h7dyp855q6f22sew1k503k3f","event_type":"subscription.updated","occurred_at":"2023-08-09T20:09:26.949259Z","data":{"id":"sub_01h7dvgvc6we84prca8gdhhr9c","status":"active","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","address_id":"add_01h7dvg82n582xfftvhrpwty88","business_id":null,"currency_code":"USD","created_at":"2023-08-09T19:14:04.294411Z","updated_at":"2023-08-09T20:09:26.003221633Z","started_at":"2023-08-09T19:14:03.236391Z","first_billed_at":"2023-08-09T19:14:03[...]
