---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/adjustments
    body:
      encoding: UTF-8
      string: '{"action":"credit","transaction_id":"txn_01h7e0r43zjgzbcpqs093spymc","reason":"error","items":[{"type":"full","item_id":"txnitm_01h7e0rc8we655bjx8km2kpyg0"}]}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"adj_01h7e33qh9pjamtyc8e64xe433","action":"credit","credit_applied_to_balance":true,"transaction_id":"txn_01h7e0r43zjgzbcpqs093spymc","subscription_id":"sub_01h7e0rzxvwdy5qy6g08h4y3tz","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","reason":"error","currency_code":"USD","status":"approved","items":[{"id":"adjitm_01h7e33qh9pjamtyc8e694j2x8","item_id":"txnitm_01h7e0rc8we655bjx8km2kpyg0","type":"full","amount":"1","proration":null,"totals":{"subtotal":"1","tax":"0","total":"1"}}],"totals":{"subtotal":"1","tax":"0","total":"1","fee":"0","earnings":"1","currency_code":"USD"},"payout_totals":{"subtotal":"1","tax":"0","total":"1","fee":"0","earnings":"1","currency_code":"USD"},"created_at":"2023-08-09T21:26:42.996157Z","updated_at":"0001-01-01T00:00:00Z"},"meta":{"request_id":"d8f181f5-a8b2-498a-85f0-e5c9d4801593"}}'
  recorded_at: Wed, 09 Aug 2023 21:26:43 GMT
recorded_with: VCR 6.2.0
