---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/discounts
    body:
      encoding: UTF-8
      string: '{"amount":"1000","description":"$10 off","type":"flat","discount_group_id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","currency_code":"USD"}'
    headers:
      Paddle-Version:
      - '1'
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      allow:
      - GET, POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":{"id":"dsc_01ke4zpyn3pm6n9r7c437pfvhh","status":"active","description":"$10
        off","enabled_for_checkout":false,"code":null,"type":"flat","amount":"1000","currency_code":"USD","recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"mode":"standard","times_used":0,"custom_data":null,"import_meta":null,"discount_group_id":"dsg_01kdnzzfakgpvj1ky1rtb43cs5","created_at":"2026-01-04T17:08:38.179Z","updated_at":"2026-01-04T17:08:38.179Z"},"meta":{"request_id":"68229b9c-6644-484c-9de9-e8fa68a2bb5e"}}'
  recorded_at: Sun, 04 Jan 2026 17:08:38 GMT
recorded_with: VCR 6.3.1
