---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/transactions/preview
    body:
      encoding: UTF-8
      string: '{"items":[{"price_id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","quantity":2}],"currency_code":"GBP"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"customer_id":null,"address_id":null,"business_id":null,"currency_code":"GBP","address":null,"customer_ip_address":null,"discount_id":null,"items":[{"price":{"id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","description":"Monthly","product_id":"pro_01h7dsrdafzk113p2fbj07wpfd","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"USD"},"unit_price_overrides":[],"quantity":{"minimum":1,"maximum":100},"status":"active"},"quantity":2,"proration":null,"include_in_totals":true}],"details":{"tax_rates_used":[{"tax_rate":"0","totals":{"subtotal":"1572","discount":"0","tax":"0","total":"1572"}}],"totals":{"subtotal":"1572","tax":"0","discount":"0","total":"1572","grand_total":"1572","fee":null,"credit":"0","balance":"1572","earnings":null,"currency_code":"GBP"},"line_items":[{"price_id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","quantity":2,"totals":{"subtotal":"1572","tax":"0","discount":"0","total":"1572"},"product":{"id":"pro_01h7dsrdafzk113p2fbj07wpfd","name":"Test
        Product 1","description":"This is a test product","tax_category":"standard","image_url":"","status":"active"},"tax_rate":"0","unit_totals":{"subtotal":"786","tax":"0","discount":"0","total":"786"}}]},"ignore_trials":false},"meta":{"request_id":"db168cd1-b5e4-4436-99ad-97fbffbcf9c9"}}'
  recorded_at: Wed, 09 Aug 2023 21:47:51 GMT
recorded_with: VCR 6.2.0
