---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/prices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"pri_01h7dt1t5fhgpx7c4ze66vg3wt","product_id":"pro_01h7dsrdafzk113p2fbj07wpfd","description":"Monthly","billing_cycle":{"interval":"month","frequency":1},"trial_period":null,"tax_mode":"account_setting","unit_price":{"amount":"1000","currency_code":"USD"},"unit_price_overrides":[],"custom_data":null,"status":"active","quantity":{"minimum":1,"maximum":100}}],"meta":{"request_id":"9d174b8d-c1e2-4bc9-9da6-0a70ca371c9c","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/prices?after=pri_01h7dt1t5fhgpx7c4ze66vg3wt","has_more":false,"estimated_total":1}}}'
  recorded_at: Wed, 09 Aug 2023 18:51:21 GMT
recorded_with: VCR 6.2.0
