---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/event-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      correlation-id:
      - '09917cb5-0155-4825-9aba-c0790206e406'
      x-correlation-id:
      - '09917cb5-0155-4825-9aba-c0790206e406'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"transaction.billed","description":"Occurs when a
        transaction is billed. Its status field changes to billed and billed_at is
        populated.","group":"Transaction","available_versions":[1]},{"name":"transaction.canceled","description":"Occurs
        when a transaction is canceled. Its status field changes to canceled.","group":"Transaction","available_versions":[1]},{"name":"transaction.completed","description":"Occurs
        when a transaction is completed. Its status field changes to completed.","group":"Transaction","available_versions":[1]},{"name":"transaction.created","description":"Occurs
        when a transaction is created.","group":"Transaction","available_version[...]
