---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/businesses
    body:
      encoding: UTF-8
      string: '{"name":"Business1"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"biz_01h7dz69ksn40x5zrvekgh1xrn","status":"active","name":"Business1","company_number":null,"tax_identifier":null,"contacts":[],"created_at":"2023-08-09T20:18:12.729Z","updated_at":"2023-08-09T20:18:12.729Z"},"meta":{"request_id":"d4c2ab77-9be6-4c99-b307-2f5356d0da8d"}}'
  recorded_at: Wed, 09 Aug 2023 20:18:12 GMT
recorded_with: VCR 6.2.0
