---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/products
    body:
      encoding: UTF-8
      string: '{"name":"ChatApp Enterprise","tax_category":"standard"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pro_01h7dsxd2sg6aky4e70p96rb1y","name":"ChatApp Enterprise","tax_category":"standard","description":null,"image_url":null,"custom_data":null,"status":"active","created_at":"2023-08-09T18:45:58.489Z"},"meta":{"request_id":"a5eeeab9-07f5-4bb1-9488-b3ab25393d18"}}'
  recorded_at: Wed, 09 Aug 2023 18:45:58 GMT
recorded_with: VCR 6.2.0
