---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/customers/ctm_01h7dtf1yg8jge7980baqdkjk8/addresses
    body:
      encoding: UTF-8
      string: '{"country_code":"GB","postal_code":"SW1A 2AA","first_line":"10 Downing
        Street"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"add_01h7dtvh64g9c20asb65dc411r","status":"active","description":null,"first_line":"10
        Downing Street","second_line":null,"city":null,"postal_code":"SW1A 2AA","region":null,"country_code":"GB","created_at":"2023-08-09T19:02:25.732Z","updated_at":"2023-08-09T19:02:25.732Z"},"meta":{"request_id":"62fb6362-7164-4501-9ef4-6fc08f0e928e"}}'
  recorded_at: Wed, 09 Aug 2023 19:02:25 GMT
recorded_with: VCR 6.2.0
