---
http_interactions:
- request:
    method: patch
    uri: https://sandbox-api.paddle.com/notification-settings/ntfset_01h7e0ebp7dz0ygz22bdkb5ckb
    body:
      encoding: UTF-8
      string: '{"subscribed_events":["transaction.billed","subscription.activated"]}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      correlation-id:
      - 1804c33b-e7e1-4bd2-90bd-73c492af9344
      x-correlation-id:
      - 1804c33b-e7e1-4bd2-90bd-73c492af9344
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ntfset_01h7e0ebp7dz0ygz22bdkb5ckb","description":"Test
        Webhook","type":"url","destination":"http://localhost:3000/webhook","active":true,"api_version":1,"include_sensitive_fields":false,"subscribed_events":[{"name":"transaction.billed","description":"Occurs
        when a transaction is billed. Its status field changes to billed and billed_at
        is populated.","group":"Transaction","available_versions":[1]},{"name":"subscription.activated","description":"Occurs
        when a subscription becomes active. Its status field changes to active. This
        means any trial period has elapsed and Paddle has successfully billed the
        customer.","group":"Subscription","available_versions":[1]}],"endpoint_secret_key":"pdl_ntfset_01h7e0ebp7dz0ygz22bdkb5ckb_DKzEps5c1KskQVLjpzbffMnWy6xesXEl"},"meta":{"request_id":"1804c33b-e7e1-4bd2-90bd-73c492af9344"}}'
  recorded_at: Wed, 09 Aug 2023 20:42:01 GMT
recorded_with: VCR 6.2.0
