---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/discounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"dsc_01h7dtzexhveh8sqfm16b0yw4d","status":"active","description":"10%
        off","enabled_for_checkout":true,"code":"10OFF","type":"percentage","amount":"10","currency_code":null,"recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"times_used":0,"created_at":"2023-08-09T19:04:34.481Z","updated_at":"2023-08-09T19:04:34.481Z"},{"id":"dsc_01h7dv1243xervzbkfxkg56cnn","status":"active","description":"$10
        off","enabled_for_checkout":false,"code":null,"type":"flat","amount":"1000","currency_code":"USD","recur":false,"maximum_recurring_intervals":null,"usage_limit":null,"restrict_to":null,"expires_at":null,"times_used":0,"created_at":"2023-08-09T19:05:26.915Z","updated_at":"2023-08-09T19:05:26.915Z"}],"meta":{"request_id":"ccbe0407-87af-4225-9452-33a75c94287c","pagination":{"per_page":50,"next":"https://sandbox-api.paddle.com/discounts?after=dsc_01h7dv1243xervzbkfxkg56cnn","has_more":false,"estimated_total":2}}}'
  recorded_at: Wed, 09 Aug 2023 19:05:27 GMT
recorded_with: VCR 6.2.0
