---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/adjustments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"adj_01h7e2wz3srndp9f5ttbgn6dhp","action":"credit","credit_applied_to_balance":true,"transaction_id":"txn_01h7e0r43zjgzbcpqs093spymc","subscription_id":"sub_01h7e0rzxvwdy5qy6g08h4y3tz","customer_id":"ctm_01h7dtf1yg8jge7980baqdkjk8","reason":"subscription_recurring","currency_code":"USD","status":"approved","items":[{"id":"adjitm_01h7e2wz3srndp9f5ttf39ja43","item_id":"txnitm_01h7e0rc8we655bjx8km2kpyg0","type":"proration","amount":"999","proration":{"rate":"0.99915","billing_period":{"starts_at":"2023-08-09T21:23:01.267342Z","ends_at":"2023-09-09T20:45:52.444756Z"}},"totals":{"subtotal":"833","tax":"166","total":"999"}}],"totals":{"subtotal":"833","tax":"166","total":"999","fee":"100","earnings":"733","currency_code":"USD"},"payout_totals":{"subtotal":"833","tax":"166","total":"999","fee":"100","earnings":"733","currency_code":"USD"},"created_at":"2023-08-09T21:23:01.376589Z","updated_at":"2023-08-09T21:23:03.439004Z"}],"meta":{"request_id":"31e9142a-62ff-49d5-b056-d76c384f849c","pagination":{"per_page":10,"next":"https://sandbox-api.paddle.com/adjustments?after=adj_01h7e2wz3srndp9f5ttbgn6dhp","has_more":false,"estimated_total":3}}}'
  recorded_at: Wed, 09 Aug 2023 21:23:10 GMT
recorded_with: VCR 6.2.0
